<div class="row">
  <div class="col-2" *ngFor="let item of weatherList">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title text-center">{{ item.date | date }}</h5>

        <img
          src="../../../assets/images/weather/{{ item.outlook }}.png"
          alt="slika"
          style="width: 160px"
        />
        <p class="card-text">
          Min: {{ item.temperature_min }}°C <br />
          Max: {{ item.temperature_max }}°C <br />
          Wind: {{ item.wind }}km/h
        </p>
      </div>
    </div>
  </div>
</div>
